<nav>
    <ul>
        <% if (req.locals.loggedIn) { %>
            <li><a href="/user/profile">Profile</a></li>
            <li><a href="/user/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/user/register">Register</a></li>
                <li><a href="/user/login">Login</a></li>
                <% } %>
    </ul>
</nav>