<h3>

</h3>
<form action="/user/login" method="post">
    <input type="text" name="Nickname" id="nickname">
    <input type="email" name="Email" id="email">
    <input type="password" name="Password" id="password">
    <input type="submit" value="LOGİN">
</form>