<div>
    <ul>
        <li><a href="/user/sendMail">Send Mail</a></li>

    </ul>
</div>
<div>
    <% emails.forEach(email=> { %>
        <div>
            <p>from : <%= email.from%>
            </p>
            <h3>
                <%=email.header%>
            </h3>
            <p>
                <%= email.description %>
            </p>
            <p>
                <%= email.SendDate %>
            </p>
            <h5 class="text-danger">THİS MAİL WİLL DELETED IN 7 DAYS AUTOMATİCALLY</h5>

        </div>
        <% }) %>
</div>