<h2>PROFİLE</h2>

<form action="/user/profile" method="post">
    <img width="400" height="400" src="<%= user.ProfilePicture %>" alt="">
    <label for="profilePicture">Profil picture</label>
    <input type="file" name="profilePicture" id="ProfilePicture">
    <label for="Nickname">Nickname</label>
    <input type="text" name="Nickname" value="<%= user.Nickname %>" id="nickname">
    <label for="Email">Email</label>
    <input type="email" name="Email" value="<%= user.Email %>" id="Email">

    <label for="Password">Password</label>
    <input type="password" name="Password" id="Password">
    <input type="password" placeholder="Password again" name="RepPassword" id="RepPassword">

    <input type="submit" value="UPDATE">
</form>