<form action="/user/sendMail" method="post">
    <input type="text" placeholder="Message Title" name="Header">
    <input type="text" name="Description" id="description">
    <input type="text" name="To" placeholder="Who" id="">
    <input type="submit" value="SEND">
</form>