<div class="container mt-4">
    <h1 class="text-center mb-4">Marksizm</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p class="lead">
                Marksizm, Karl Marx ve Friedrich Engels tarafından ortaya atılan bir sosyal ve siyasi düşüncedir.
                Marksist teoriye göre, toplumsal ve ekonomik sorunlar sınıf mücadelesinden kaynaklanmaktadır ve bu
                sorunlar ancak sınıf bilinci kazanan işçi sınıfının önderliğinde çözülebilir.
            </p>
            <p>
                Marksizm, kapitalist sistemin yerine sosyalist bir sistem önerir ve insanların ihtiyaçlarının,
                karşılanması için üretim araçlarının toplumsallaştırılması gerektiğini savunur.
            </p>
        </div>
    </div>
</div>